.flickr-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.flickr-item {
    display: inline-block;
    width: 100%;
}

.flickr-item img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.image {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.lds-dual-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #444444;
    border-color: #444444 transparent #444444 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

/*TABLET VIEW*/
@media only screen and (min-width: 768px) {
    .flickr-container {
        column-count: 4;
    }

}

/*DESKTOP VIEW*/
@media only screen and (min-width: 1025px) {
    .flickr-container {
        column-count: 6;
    }
}

/*MOBILE VIEW*/
@media only screen and (max-width: 767px) {
    .flickr-container {
        column-count: 2;
    }
}