.navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 66px;
    background-color: black;
    margin-bottom: 66px;
    position: sticky;
    top: 0;
    color: white;
}

.nav-item {
    height: fit-content;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-m0 {
    height: fit-content;
    display: flex;
}

.navigation input {
    width: 50vw;
}

.navigation button{
    height: fit-content;
}

/*TABLET VIEW*/
@media only screen and (min-width: 768px) {

}

/*DESKTOP VIEW*/
@media only screen and (min-width: 1025px) {
}

/*MOBILE VIEW*/
@media only screen and (max-width: 767px) {
    .navigation input {
        width: 40vw;
    }
}